
  <title>{{ page.title }}</title>

  <header>
    <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
      <div class="container">

        <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl | prepend: site.url }}/">
            <b>{{ site.title }}<b>
        </a>

      </div>
     <div class='nav'>
          <ul class='wrap'>
              <li><a href='/about.html'>about</a></li>
              <li><a href='/notebooks.html'>notebooks</a></li>
              <li><a href='/microblog.html'>microblog</a></li>
          </ul>
      </div>
    </nav>
  </header>
