/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$theme-color:         #AD2831 !default;

$grey-color:          #828282 !default;
$grey-color-dark:     #1C1C1D;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     rgba($grey-color-dark, 0.05);
